.two-columns-layout {
  display: flex;
  flex: 1;
  overflow: hidden;
  height: 100%;

  .column {
    display: flex;
    flex: 1;
    overflow: hidden;
    position: relative;
  }

  .resizer {
    width: 8px;
    cursor: col-resize;
    background-color: #ccc;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }
}
