.two-columns-layout {
  display: flex;
  flex: 1;
  overflow: hidden;
  height: 100%;

  .column {
    display: flex;
    flex: 1;
    overflow: hidden;
    position: relative;
  }


}

.two-columns-resizer {
  width: 8px;
  cursor: col-resize;
  background-color: var(--color-background-dark);
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
    border-left: var(--border);
    left: 0;
    right: 0;
    margin: auto;
  }
}
